<div class="jumbotron">
    <h1>About Us</h1>
    <p class="lead">DDCities is a free platform for drivers who want to share their cars, for riders who want to find a ride, free or pay for gas. It's based on social network.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Rider</h2>
        <p>Riders can post their ride request, once we received their request, we will try to match with existing driver's schedules, and notify riders once we find matched driver schedules.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Driver</h2>
        <p>Drivers who want to find travel partner, who want to share their ride can post their driver schedule. Drivers will be notified when we find any riders who have the same destination, and time schedule.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Driver Schedule</h2>
        <p>List all available schedules. You may find the place and time you want to go.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
