
<h2>Success</h2>
<br/>
<br/>
<div class="alert alert-success" role="alert">
    <p>Your post have been accepted successfully! You can check all available driver schedules @Html.ActionLink("All driver schedule", "Travel", "Home", new { area = "" }, null)</p>
</div>
